.entete{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    transition: 0.3s;
}

.entete .menu ul {
    display: flex;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.entete .menu ul li{
    margin: 0 10px;
 }
 
 .restfood span{
	color: #fb911f;
}

.restfood{
	font-weight:bold;
	font-size: 2em;
    margin: 15px 0 0 80px;
    position: absolute;
}

.restaurant-acronym{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    margin-left: 85px;
    margin-top: 50px;
    
}

.logo{
    border: 2px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    
}

.menu a{
    padding: 10px 10px;
    background-color: #fb911f;
    border-radius: 5px;
    transition: 0.5s;
}

.menu a:hover{
    letter-spacing: 3px;
}